/* Need to organize CSS to group with same ID's/elements */

.header {
  padding: 10px 16px;
  background: #007cc7;
  color: #f1f1f1;
}

#content {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
}

div#advantages{
  padding-top: 55px;
  overflow: auto;
}

#example_gif{
  float:right;
  max-width: 100%;
  width: 800px;
  /* max-height: 600px; */
  height: 100%;
}

/*------------- CSS for cards -------------*/

.profile_picture{
  width:100%
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  max-width: 100%;
  /* width:250px; */
  margin-bottom: 16px;
  padding: 0 8px;
  display: inline-flex;
}

.row{
  display: flex;
}


@media screen and (max-width:1400px){
  #example_gif{
    float: none;
    max-width: 100%;
  }
  .column {
    /* width: 25%; */
    display: block;
  }

  .row{
    display: flow-root;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/*-------------End of CSS for cards-------------*/
#profile_picture{
  width : 100%;
}


/*-------------Sticky header-------------*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 20px 5px #00000094;
}
.sticky + .content {
  padding-top: 120px;
}
/*-------------End of sticky header-------------*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.myButton {
	box-shadow: 0px 0px 0px 2px #16a7fb;
	background-color:#16a7fb;
	border-radius:10px;
	border:1px solid #16a7fb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  margin:50px;
}
.myButton:hover {
	background-color:#097fc4;
}
.myButton:active {
	position:relative;
	top:1px;
}

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1.8px;
  border-color: black;
}
        
