.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
p.modelDesc{
  float:left;
  width:1000px;
  max-width:100%;
}

  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .header{
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  .content{
    padding: 16px;
  }
  .sticky{
    position: fixed;
    top: 0;
    width: 100%
  }

  .sticky + .content{
    padding-top: 120px
  }

#model{
  float:right;
  width:600px;
  height:600px;
  max-width: 70%;
}

canvas{
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width:1400px){
  #model{
    width: 100%;
    float:left;
  }
}

@media screen and (max-width:1000px){
  p.modelDesc{
    width:100%;
    border: 10px solid red;
  }
}